:root {

	--theme-yellow: #FFC819;
	--theme-red: #B31212;
	--theme-dark-red: #660000;
	--theme-dark-blue: #004E7F;
	--theme-light-blue: #0DA1FF;
	--theme-off-black: #1B1B1B;
	--theme-off-white: #FFFFF0;

}

a {
	text-decoration: none;
}

a:hover, a:visited {
	color: var(--theme-dark-blue);
}

a:link {
	color: var(--theme-light-blue);
}

h1 {
	color: var(--theme-yellow);
	font-size: 5rem;
	text-decoration: underline;
}

h2 {
	color: var(--theme-off-white);
	font-size: 2rem;
	text-decoration: underline;
}

h3 {
	text-align: center;
	font-size: 1rem;
}

p {

	padding-bottom: 1rem;

	color: var(--theme-off-white);
	font-size: 0.8rem;

}

img.profile-pic {
	border: 0.1rem solid var(--theme-yellow);
	width: 100px;
	height: 100px;
}

body {

	background-color: var(--theme-off-black);

	font-family: Tahoma, Sans-Serif;

	display: flex;
	flex-direction: column;

}

div {

	margin: 0.5rem;

	/* Debug */
	/*
	border: 0.1rem solid var(--theme-off-white);
	*/

}

div.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

div.left-header, div.right-header {
	flex-shrink: 0;
}

nav {

	display: flex;
	flex-direction: row;
	justify-content: left;

}

a.header-nav {

	flex: 0, 0, auto;

	margin-right: 2rem;

	font-size: 2rem;

}

div.main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

div.sidebar, div.content {

	background-color: var(--theme-dark-red);
	border: 0.1rem solid var(--theme-yellow);

	padding: 0.5rem;

}

div.sidebar {
	flex: 1 1 15%;
}

div.content {
	flex: 1 1 85%;
}

div.footer {
	color: var(--theme-yellow);
}

div.nav {
	justify-content: center;
}